body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #DDE6ED;
}
#container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: white;
}
.row {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
.pixel {
  flex-grow: 1;
  border: 1px solid rgba(190, 190, 190, 0.25);
}
